*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  position: relative;
}

.corner {
  position: absolute;
  right: 0;
  top: 0;
}

footer {
  padding: 2rem 10vw;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
}

footer p {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  letter-spacing: -1px;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

.wrapper {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 50px;
  max-width: 580px;
  margin: auto;
}
/*  
.container {
  display: flex;
  padding: 6vw 10vw;
  position: relative;
  max-width: 1160px;
}

.header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  line-height: 1.5;
  color: white;
}

.logo-svg {
  font-size: 40vmin;
  width: 40vmin;
  height: 40vmin;
  pointer-events: none;
}

.link {
  color: #3651eb;
  opacity: 0.8;
  transition: ease-in;
}
.link:hover {
  opacity: 1;
  transition: ease-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  body {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (prefers-reduced-motion: reduce) {
  body {
    animation: none;
  }
}
*/